/*adiciona border box a toda a pagina*/
*{
    box-sizing: border-box;
}
/*todo o body*/
body{
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
}
/*estilo da pagina em que realizamos o quiz*/
/*influencia toda essa pagina*/
#respondequiz{
    margin-top: 69px;
}
/*barra superior, fixa, mostra o nome do site*/
/*redundante, remover quando unir os codigos*/
header{
    position: fixed;
    width: 100vw;
    height: 69px;
    left: 0px;
    top: 0px;
    z-index: 2;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*imagem do quiz selecionado*/
.banner{
    position: relative;
    z-index: 0;
    width: 100vw;
    height: 22.17vh;
    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6));
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*nome do quiz, fica no banner*/
.banner p{
    position: absolute;
    z-index: 1;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}
/*corpo da pagina do quiz(abaixo do banner)*/
main.corpoquiz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*caixa contendo as perguntas e opçoes de resposta*/
li.caixapergunta{
    width: 760px;
    height: auto;
    margin: 4.1vh 0;
    padding: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
/*pergunta com fundo colorido,fica acima das respostas*/
.pergunta{
    width: 100%;
    height: 138px;
    background-color: #434CA0;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*opçoes de resposta,tudo abaixo da caixa com a pergunta*/
.opçoes{
    margin-top: 2.75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 19px;
}
/*muda o cursor quando em cima de uma das opçoes*/
.opçoes div:hover{
    cursor: pointer;
}
/*imagem da opção de resposta*/
.opçoes img{
    width: 330px;
    height: 175.2px;
}
/*texto da opção de resposta*/
.opçoes p{
    margin-top: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
/*resultado*/
/*caso alguem esteja usando essa tag*/
/*>adicionar uma classe a essa section especifica*/
section{
    width: 760px;
    height: auto;
    padding: 18px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
/*mostra a porcentagem de acertos*/
.nivel{
    width: 100%;
    height: 99px;
    background: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*titulo das caixas(perguntas e porcentagem)*/
h2{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}
/*imagem e mensagem do resultado*/
.mensagemnivel{
    margin-top: 18px;
    display: flex;
    column-gap: 21px;
    word-wrap: break-word;   
    overflow-wrap: break-word;
    word-break: break-word;
}
/*imagem do resultado*/
.mensagemnivel img{
    width: 364px;
    height: 273px;
}
/*texto do resultado*/
.mensagemnivel p{
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}
/*botao para reiniciar o quiz*/
button.reiniciar{
    all: unset;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    width: 260.38px;
    height: 52px;
    margin-top: 57px;
    background: #EC362D;
    border-radius: 15px;
    color: #FFF5F4;
}
/*botao para voltar a pagina principal*/
button.home{
    all: unset;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    margin-top: 27.5px;
    margin-bottom: 85px;
    color: #818181;
}
/*muda o cursor quando em cima dos buttons*/
button:hover{
    cursor: pointer;
}
/*estilo mobile*/
@media only screen and (max-device-width: 1100px){
    /*nome do quiz, fica no banner*/
    .banner p{
        font-size: 19px;
        line-height: 22px;
    }
    /*caixa contendo as perguntas e opçoes de resposta*/
    li.caixapergunta{
        width: 375px;
        padding: 18px;
    }
    /*pergunta com fundo colorido,fica acima das respostas*/
    .pergunta{
        width: 100%;
        height: 89px;
    }
    /*opçoes de resposta,tudo abaixo da caixa com a pergunta*/
    .opçoes{
        row-gap: 12px;
    }
    /*imagem da opção de resposta*/
    .opçoes img{
        width: 163px;
        height: 113px;
    }
    .opçoes p{
        margin-top: 7.5px;
        font-size: 13px;
        line-height: 15px;
    }
    /*resultado*/
    /*caso alguem esteja usando essa tag*/
    /*>adicionar uma classe a essa section especifica*/
    section{
        width: 375px;
        padding: 18px;
    }
    /*titulo das caixas(perguntas e porcentagem)*/
    h2{
        font-size: 19px;
        line-height: 22px;
    }
    /*imagem e mensagem do resultado*/
    .mensagemnivel{
        margin-top: 9px;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 9px;
    }
    /*imagem do resultado*/
    .mensagemnivel img{
        width: 340px;
        height: 250px;
    }
    /*texto do resultado*/
    .mensagemnivel p{
        font-size: 17px;
        line-height: 20px;
    }
    /*botao para reiniciar o quiz*/
    button.reiniciar{
        font-size: 18px;
        width: 220.32px;
        height: 44px;
        margin-top: 34px;
    }
    /*botao para voltar a pagina principal*/
    button.home{
        font-size: 18px;
        margin-top: 21px;
        margin-bottom: 79px;
    }
}