/*Importing Roboto font for project */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header {
    background-color: #EC362D;

    width: 100vw;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

header h1 {
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}

main {
    padding-top: calc(69px + 5%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FAFAFA;
}

.comece-pelo-comeco,
.crie-suas-perguntas,
.decidir-niveis {
    max-width: 564px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 18px;
    transition: opacity 200ms ease-in, height 200ms linear;
}


.comece-pelo-comeco h2,
.crie-suas-perguntas h2, 
.decidir-niveis h2{
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: black;
    margin-bottom: 50px;
}

.comece-pelo-comeco input,
.crie-suas-perguntas input,
.decidir-niveis input {
    max-width: 564px;
    width: 100vw;
    height: 46px;
    width: 100%;
    margin: 0px 17px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 2%;
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #606060;
}

.comece-pelo-comeco input:focus,
.crie-suas-perguntas input:focus,
.decidir-niveis input:focus {
    outline-color: #999999;
}

.comece-pelo-comeco input::placeholder,
.crie-suas-perguntas input::placeholder,
.decidir-niveis input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.comece-pelo-comeco button,
.crie-suas-perguntas button,
.decidir-niveis button {
    max-width: 367px;
    width: 100%;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    border: none;
    margin: 70px 0;
}

.comece-pelo-comeco button:hover,
.crie-suas-perguntas button:hover,
.decidir-niveis button:hover {
    background: #D32C22;
    cursor: pointer;
}

.pergunta,
.resposta,
.respostas-incorretas,
.nivel {
    max-width: 564px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
}

.container-h3,
.container-inputs {
    max-width: 564px;
    width: 100%;
    display: flex;
    align-items: center;

}

.container-h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    margin-bottom: 12px;

}

.escondido {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease-in;
}
.container-inputs {
    flex-direction: column;
    margin-bottom: 32px;
}


.editar-pergunta {
    max-width: inherit;
    width: 100%;
    transition: all 1s linear;
}

.menu-editar {
    max-width: 564px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-editar img:hover {
    cursor: pointer;
}